footer {
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(to right, rgb(255, 255, 0), rgb(255, 165, 0));
    flex-direction: row;


}

section {
    height: 100%;
    padding: 5rem;
    opacity: 0.9;

}

body {
    background-image: url(../imgs/bg1.png);
    max-width: 100%;
}

.lgn {
    margin: 0 auto;
    width: 25rem;

}

.cidx {
    width: 100%;
    height: auto;
    margin-bottom: 2em;

}

img {
    width: auto;
    height: auto;
}

.sidx {
    opacity: 0.9;
}

.movingBox {
    transform: translate3d(0, 0, 0);
    transition: 0.4s;
}

.nvblg {
    width: 9rem;
    height: 3rem;
}

.nvblg2 {
    width: 15rem;
    height: 5rem;
}

.navbar {
    opacity: 0.9;
    background-image: linear-gradient(to right, rgb(255, 255, 0), rgb(255, 165, 0));
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}
button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.nvbw :hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}